<template>
  <v-container id="page-container" fluid grid-list-xs class>
    <v-row id="title">
      <v-col class="text-left">
        <h1>Cabang</h1>
      </v-col>
    </v-row>
    <v-row id="top-actions">
      <v-col class="d-flex justify-start">
        
      </v-col>
      <v-col class="d-flex justify-end">
        <v-btn
          @click="showNewItem = true"
          class=""
          fab
          color="success"
          dark
          >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row id="content">
      <v-col>
        <v-data-table :headers="headers" :items="branches">
          <template v-slot:item.id="{ item }" class="text-center" >
            <v-btn text style="text-transform:none; font-family: courier" @click="editItem({...item, id: item.id})">{{item.id}}</v-btn><br/>
            <!-- <span class="caption">{{item.createdBy}}</span><br/> -->
            <span class="caption">{{moment(item.ts).format('D MMM h:M a')}}</span>
          </template>
          <template v-slot:item.from="{ item }" class="text-center">
            <span>{{item.senderCity}}</span><br/>
            <span class="caption">{{item.senderName}}</span>
          </template>
          <template v-slot:item.to="{ item }" class="text-center">
            <span>{{item.destinationCity}}</span><br/>
            <span class="caption">{{item.destinationName}}</span>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon small class="mr-2" @click="editItem({...item, id: item.id})">mdi-pencil</v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <v-dialog v-model="showNewItem" max-width="800px">
      <NewBranch v-if="showNewItem" @saved="showNewItem = false" @close="showNewItem = false" />
    </v-dialog>

    <v-dialog v-model="showEditItem" max-width="800px">
      <NewBranch
        v-if="showEditItem"
        :item="selectedItem"
        @saved="showEditItem = false"
        @close="showEditItem = false" />
    </v-dialog>

  </v-container>
</template>

<script>
import NewBranch from "@/components/NewBranch";
import moment from 'moment'
import { db } from '../db'
const branches = db.collection('branch')
export default {
  name: "Branches",
  firestore: {
    branches: db.collection("branches")
  },
  data() {
    return {
      branches: [],
      showNewItem: false,
      showEditItem: false,
      headers: [
        {
          value: "id",
          text: "id",
          align: "start",
          sortable: false
        },
        {
          value: "name",
          text: "Nama",
          align: "start",
          sortable: false
        },
        {
          value: "city",
          text: "Kota",
          align: "start",
          sortable: false
        },
        {
          value: "action",
          text: "",
          align: "center",
          sortable: false
        }
      ],
      query: {
        myOrder: false,
        limit: 20,
        start: 1,
        page: 1,
        where: [
          // ['branch', '==', this.$store.getters.branchKey]
        ],
        order: [
          {by: 'name', sort: 'asc'},
        ]
      }
    };
  },
  computed: {
    items() {
      return this.branches;
    }
  },
  methods: {
    moment,
    editItem (item) {
      this.selectedItem = item
      this.showEditItem = true
    }
  },
  components: {
    NewBranch
  },
  watch: {
    query: {
      immediate: true,
      deep: true,
      handler (query) {
        let ref = branches

        if (query.where && query.where.length) {
          query.where.map(filter => {
            ref = ref.where(filter[0], filter[1], filter[2])
          })
        }

        if (query.order) {
          query.order.map(order => {
            ref = ref.orderBy(order.by, order.sort)
          })
        }
        if (query.limit) {
          ref = ref.limit(parseInt(query.limit || 1))
        }
        this.$bind('branches', ref)
      }
    }
  }
};
</script>

<style>
</style>