<template>
  <v-container id="page-container" fluid grid-list-xs fill-height>
    <v-row id="title">
      <v-col><h1>Dashboard</h1></v-col>
    </v-row>
    
  </v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>