<template>
  <v-container id="page-container" fluid grid-list-xs class>
    <v-row id="title">
      <v-col class="text-left">
        <h1>Orders</h1>
      </v-col>
    </v-row>
    <v-row id="top-actions">
      <v-col class="d-flex justify-start">
        
      </v-col>
      <v-col class="d-flex justify-end">
        <v-chip
          class="ma-2"
          :color="query.myOrder ? 'primary' : 'default'"
          @click="query.myOrder = !query.myOrder"
          >
          My Order
        </v-chip>
        <v-btn
          @click="showNewItem = true"
          class=""
          fab
          color="success"
          dark
          >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row id="content">
      <v-col>
        <v-data-table :headers="headers" :items="orders">
          <template v-slot:item.id="{ item }" class="text-center" >
            <v-btn text style="text-transform:none; font-family: courier" @click="editItem({...item, id: item.id})">{{item.id}}</v-btn><br/>
            <!-- <span class="caption">{{item.createdBy}}</span><br/> -->
            <span class="caption">{{moment(item.ts).format('D MMM h:M a')}}</span>
          </template>
          <template v-slot:item.from="{ item }" class="text-center">
            <span>{{item.senderCity}}</span><br/>
            <span class="caption">{{item.senderName}}</span>
          </template>
          <template v-slot:item.to="{ item }" class="text-center">
            <span>{{item.destinationCity}}</span><br/>
            <span class="caption">{{item.destinationName}}</span>
          </template>
          <template v-slot:item.properties="{ item }">
            {{item.goodsType}}, 
            {{item.goodsName}}, 
            {{item.goodsWeightKg}}Kg
          </template>
          properties
          <template v-slot:item.action="{ item }">
            <v-icon small class="mr-2" @click="editItem({...item, id: item.id})">mdi-pencil</v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <v-dialog v-model="showNewItem" max-width="800px">
      <NewOrder v-if="showNewItem" @saved="showNewItem = false" @close="showNewItem = false" />
    </v-dialog>

    <v-dialog v-model="showEditItem" max-width="800px">
      <NewOrder
        v-if="showEditItem"
        :item="selectedItem"
        @saved="showEditItem = false"
        @close="showEditItem = false" />
    </v-dialog>

  </v-container>
</template>

<script>
import NewOrder from "@/components/NewOrder";
import moment from 'moment'
import { db } from '../db'
const orders = db.collection('orders')
export default {
  name: "Orders",
  firestore: {
    // orders: db.collection("orders")
    //           .where('branch', '==', localStorage.getItem('branchKey'))
    //           .orderBy('ts', 'desc'),
  },
  data() {
    return {
      orders: [],
      showNewItem: false,
      showEditItem: false,
      headers: [
        {
          value: "id",
          text: "id",
          align: "start",
          sortable: false
        },
        {
          value: "from",
          text: "From",
          align: "start",
          sortable: false
        },
        {
          value: "to",
          text: "To",
          align: "start",
          sortable: false
        },
        {
          value: "properties",
          text: "Info",
          align: "start",
          sortable: false
        },
        {
          value: "action",
          text: "",
          align: "center",
          sortable: false
        }
      ],
      query: {
        myOrder: false,
        limit: 20,
        start: 1,
        page: 1,
        where: [
          // ['branch', '==', this.$store.getters.branchKey]
        ],
        order: [
          {by: 'createdAt', sort: 'desc'},
          {by: 'updateAt', sort: 'desc'},
        ]
      }
    };
  },
  computed: {
    items() {
      return this.orders;
    }
  },
  methods: {
    moment,
    editItem (item) {
      this.selectedItem = item
      this.showEditItem = true
    }
  },
  components: {
    NewOrder
  },
  watch: {
    query: {
      immediate: true,
      deep: true,
      handler (query) {
        let ref = orders
        // if (1 === 1)  {
          ref = ref.where('branch', '==', this.$store.getters.branchKey)
        // }
        if (query.myOrder) {
          ref = ref.where('createdBy', '==', this.$store.getters.user.uid)
        }

        if (query.where && query.where.length) {
          query.where.map(filter => {
            ref = ref.where(filter[0], filter[1], filter[2])
          })
        }

        if (query.order) {
          query.order.map(order => { ref = ref.orderBy(order.by, order.sort) })
        }
        if (query.limit) {
          ref = ref.limit(parseInt(query.limit || 1))
        }
        this.$bind('orders', ref)
      }
    }
  }
};
</script>

<style>
</style>