<template>
  <v-container
    id="page-container"
    fluid grid-list-xs
    class=""
    >
    <v-row id="title">
      <v-col><h1>Profile</h1></v-col>
    </v-row>
    <v-row id="content">
      <v-col>
      </v-col>
    </v-row>
    
  </v-container>

</template>

<script>
export default {

}
</script>

<style>

</style>