<template>
  <v-container grid-list-md class="">
    <v-row id="title">
      <v-col class="text-left">
        <h1>Setting POS</h1>
      </v-col>
    </v-row>
    <v-row>

      <v-col cols="12" sm="6">
        <v-text-field
          label="ID"
          v-model="branchKey"
          @change="onBranchKeyChange"
          required></v-text-field>
      </v-col>

      <v-col cols="12" sm="6">
        <v-text-field
          label="Name"
          v-model="thisBranch.name"
          required></v-text-field>
      </v-col>
      
      <v-col cols="12" sm="6">
        <v-text-field
          label="No HP."
          v-model="thisBranch.phone"
          required></v-text-field>
      </v-col>
      
      <v-col cols="12" sm="6">
        <v-text-field
          label="Provinsi"
          v-model="thisBranch.province"
          required></v-text-field>
      </v-col>
      
      <v-col cols="12" sm="6">
        <v-text-field
          label="Kota/Kabupaten"
          v-model="thisBranch.city"
          required></v-text-field>
      </v-col>
      
      <v-col cols="12" sm="6">
        <v-text-field
          label="Kecamatan"
          v-model="thisBranch.regency"
          required></v-text-field>
      </v-col>
      
      <v-col cols="12" sm="6">
        <v-text-field
          label="Desa/Kelurahan"
          v-model="thisBranch.village"
          required></v-text-field>
      </v-col>
      
      <v-col cols="12" sm="6">
        <v-text-field
          label="Alamat 1"
          v-model="thisBranch.address1"
          required></v-text-field>
      </v-col>
      
      <v-col cols="12" sm="6">
        <v-text-field
          label="Alamat 2"
          v-model="thisBranch.address2"
          required></v-text-field>
      </v-col>
      
      <v-col cols="12" sm="6">
        <v-text-field
          label="Kode Pos"
          v-model="thisBranch.postCode"
          required></v-text-field>
      </v-col>
      
      <v-col cols="12" sm="6">
        <v-text-field
          label="Location Lat" type="number"
          v-model="thisBranch.location_O"
          required></v-text-field>
      </v-col>
      
      <v-col cols="12" sm="6">
        <v-text-field
          label="Location Long" type="number"
          v-model="thisBranch.location_F"
          required></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-btn color="success" @click="register">Save</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { db } from '../db'
import {mapGetters} from 'vuex'
export default {
  name: "BranchSetting",
  data() {
    return {
      thisBranch: {},
      branchKey: null,
      loading: false
    };
  },
  computed: {
    ...mapGetters(['branch']),
    data () {
      const thisBranch = this.thisBranch
      delete thisBranch.location_O
      delete thisBranch.location_F
      return thisBranch
    }
  },
  mounted() {
    this.branchKey = this.$store.getters.branchKey;
    this.thisBranch = this.$store.getters.branch;
  },
  methods: {
    onBranchKeyChange () {
      this.loading = true
      console.log('updating')
      this.$store.dispatch('updateBranchKey', this.branchKey)
        .then(() => {
          this.loading = false
          console.log('updated')
        })
        .catch(err => {
          this.loading = false
          console.log('error updating')
          console.log(err)
        })
    },
    register () {
      db.collection('branches').doc(this.branchKey).set(this.data)
        .then(result => {
          console.log(result)
        })
        .catch(err => {
          console.log(err)
        })
    },
  },
  watch: {
    branch (newValue) {
      if (newValue) {
        this.thisBranch = newValue
      }
    }
  },
};
</script>

<style>
</style>