<template>
    <v-card class="mx-auto elevation-0" style="max-width: 500px;">
      <v-form ref="form" v-model="form" class="pa-4 pt-6">
        <!-- <div class="form-group">
          <v-text-field v-model="username" filled color="deep-purple" label="Username"/>
        </div> -->
        <v-alert v-if="alert" :type="alert.type">{{alert.message}}</v-alert>
       
        <v-text-field filled color="deep-purple" v-model="email" label="Email"></v-text-field>
        <v-text-field
          v-model="password"
          filled
          color="deep-purple"
          label="Password"
          style="min-height: 96px"
          type="password"
        ></v-text-field>
      </v-form>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn text @click="$refs.form.reset()">Clear</v-btn>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="!form"
          :loading="isLoading"
          @click="signup"
          class="white--text"
          color="deep-purple accent-4"
          depressed
        >Sign up</v-btn>
      </v-card-actions>
      <v-dialog v-model="dialog" absolute max-width="400" persistent>
        <template v-slot:label>
          I agree to the&nbsp;
          <a href="#" @click.stop.prevent="dialog = true">Terms of Service</a>
          &nbsp;and&nbsp;
          <a href="#" @click.stop.prevent="dialog = true">Privacy Policy</a>*
        </template>
      </v-dialog>
    </v-card>
</template>

<script>
import firebase from 'firebase'
import 'firebase/firestore'
import { mapActions } from "vuex";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
import axios from "axios";
export default {
  data: () => ({
    agreement: false,
    bio:
      "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts",
    dialog: false,
    email: null,
    form: false,
    username: undefined,
    isLoading: false,
    password: null,
    phone: undefined,
    submitted: false,
    rules: {
      email: v => (v || "").match(/@/) || "Please enter a valid email",
      length: len => v =>
        (v || "").length >= len || `Invalid character length, required ${len}`,
      password: v =>
        (v || "").match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
        "Password must contain an upper case letter, a numeric character, and a special character",
      required: v => !!v || "This field is required"
    },
    user: {
      username: "",
      email: "",
      password: ""
    },
    done: false,
    alert: null,

  }),
  validations: {
    user: {
      username: { required },
      email: { required, email },
      password: { required, minLength: minLength(6) },
      confirmPassword: { required, sameAsPassword: sameAs("password") }
    }
  },
  computed: {
    // ...mapGetters(['userRegistration'])
  },
  methods: {
    ...mapActions(["userRegistration"]),
    signup () {
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
        .then(user => {
          console.log(user)
          this.done = true
        })
        .catch(err => {
          console.log(err)
        })
    },
    registration() {
      // this.submitted = true;

    
      this.loading = true;
      
      this.userRegistration({
        username: this.username,
        email: this.email,
        password: this.password
      })
        .then(() => {
          this.loading = false;
          // this.$router.push("/");
        })
        .catch(err => {
          this.alert = {
            type: 'error',
            message: err.message
          }
          this.loading = false;
          console.log(err);
        });
    
      },
    addUser () {
      axios({
        method: 'post',
        baseURL: `http://localhost:1337`,
        url: `/auth/local/register`,
        // headers: {
        // Authorization: `bearer ${this.authorization}`
        // },
        data: {
          username : this.username,
          email : this.email,
          password : this.password,
        }
      })
      .then(response => {
        console.log('success')
        console.log(response)
         this.info = {
            type: "success",
            message: "Data berhasil ditambahkan"
          };
      })
      .catch(error => {
          console.log(error)
          this.info = {
            type: "error",
            message: "Data gagal ditambahkan"
          };

      })
    }
  
     
  }
};
</script>

<style>
</style>

