<template>
  <v-combobox
    :disabled="!country"
    v-model="addressSet"
    :items="addressItems"
    :loading="loading"
    :search-input.sync="searchQuery"
    color="primary"
    hide-no-data
    label="Cari Alamat"
    placeholder="Start typing to Search"
    prepend-icon="mdi-magnify"
    return-object
    :filter="(value, text_query, text) => {
      const queries = text_query.split(' ')
      const result = queries.map(query => {
        return text.search(query) > 0
      })
      return result.reduce((sum, item) => sum || item, true)
    }"
    @change="$emit('input', addressSet)"
  ></v-combobox>

</template>

<script>
import axios from 'axios'
export default {
  name: 'AddressSearch',
  data () {
    return {
      addressSet: null,
      searchQuery: null,
      loading: false,
      addresses: [],
    }
  },
  props: [
    'value',
    'country'
  ],
  computed: {
    addressItems () {
      if (!this.addresses.length) {
        return []
      }
      return this.addresses.map(entry => {
        return {
          value: entry,
          text: `[${entry.kodepos}] ${entry.kelurahan}, ${entry.kecamatan}, ${entry.kabupaten}, ${entry.provinsi},  `
        }
      })
    },
  },
  methods: {
    getAddressSearch (query) {
      this.loading = true
      return axios({
          method: 'get',
          baseURL: 'http://localhost:3000',
          url: `/address/search/${this.country.toLowerCase()}/${query}`,
          params: {limit: 30}
        })
        .then(res => {
          this.loading = false
          return Promise.resolve(res.data.result)
        })
        .catch(err => {
          this.loading = false
          return Promise.reject(err)
        })
    }    
  },
  watch: {
    searchQuery (val) {
      if (val.indexOf('[') == -1 && val && val.length > 2) {
        this.getAddressSearch(val)
          .then(result => {
            this.addresses = result
          }) 
      }
    },
  },
  mounted () {
    this.addressSet = this.value
  }
}
</script>

<style>

</style>