<template>
  <v-row>
    <v-col :cols="_labelWidth" >{{label}}</v-col>
    <v-col :cols="valueWidth"
      :class="{
        'font-weight-bold': true,
        'text-right': ['money', 'number', 'right'].find(item => item === format) || options.align === 'right'
      }"
      >
      {{formattedValue}}
    </v-col>
  </v-row>
</template>
<script>
import { formatMoney } from 'accounting'
export default {
  name: 'DisplayFields',
  props: {
    label: String,
    value: [String, Number],
    format: String ,
    labelWidth: Number,
    options: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  methods: {
    formatMoney,
  },
  computed: {
    formattedValue () {
      if (this.format === 'money') {
        return this.formatMoney(parseFloat(this.value), "Rp", 2, ".", ",")
      }
      if (this.format === 'number') {
        return this.formatMoney(parseFloat(this.value), "", 0, ".", ",")
      }
      if (this.format === 'option') {
        return this.formatMoney(parseFloat(this.value), this.options.currency || null, this.options.decimals || 0, this.options.thousand || ".", this.options.partial || ",")
      }
      return this.value
    },
    valueWidth () { return this.labelWidth ? 12 - this.labelWidth : 6 },
    _labelWidth () { return this.labelWidth || 6 },
  }
}
</script>
<style>
</style>