<template>
  <!-- <div>
      <div v-if="!userLogedIn">
        <form>
          <input type="text" v-model="username" placeholder="Username">
          <input type="password" v-model="password" placeholder="Password">
          <button @click="login()">Login</button>
        </form>
      </div>
      <span v-show="loading">Loading...</span>
  </div>-->
  <v-card class="mx-auto" style="max-width: 500px;">
    <v-system-bar color="deep-purple darken-4" dark>
      <v-spacer></v-spacer>
      <v-icon small>mdi-square</v-icon>
      <v-icon class="ml-1" small>mdi-circle</v-icon>
      <v-icon class="ml-1" small>mdi-triangle</v-icon>
    </v-system-bar>
    <v-toolbar color="deep-purple accent-4" cards dark flat>
      <v-btn icon>
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-card-title class="title font-weight-regular">Sign in</v-card-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-toolbar>
    <v-form ref="form" v-model="form" class="pa-4 pt-6">
      <v-alert :type="alert.type" :timeout="alert.timeout" v-if="alert">
        <span>{{alert.message}}</span>
      </v-alert>

      <v-text-field v-model="username" filled color="deep-purple" label="Email"></v-text-field>
      <div v-if="submitted && !$v.user.email.required" class="invalid-feedback">Email is required</div>
      <v-text-field
        v-model="password"
        color="deep-purple"
        counter="6"
        label="Password"
        style="min-height: 96px"
        type="password"
      ></v-text-field>
      <div type="error" v-if=" submitted && !$v.user.password.required">Password is required</div>
    </v-form>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn text @click="$refs.form.reset()">Clear</v-btn>
      <v-spacer></v-spacer>
      <v-btn class="white--text" @click="login()" color="deep-purple accent-4" depressed>Submit</v-btn>
    </v-card-actions>

    <p class="text-center">Dont have account yet?</p>
    <v-btn class="text-center" color="primary" @click="showRegistrasionDialog">Registration</v-btn>

    <v-dialog width="500px" v-model="showRegistrasion">
      <Registrasi />
    </v-dialog>

    <v-dialog v-model="dialog" absolute max-width="400" persistent>
      <template v-slot:label>
        I agree to the&nbsp;
        <a href="#" @click.stop.prevent="dialog = true">Terms of Service</a>
        &nbsp;and&nbsp;
        <a href="#" @click.stop.prevent="dialog = true">Privacy Policy</a>*
      </template>
    </v-dialog>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Registrasi from "../components/Registrasi";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
export default {
  data: () => ({
    alert: null,
    agreement: false,
    bio:
      "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts",
    dialog: false,
    email: null,
    form: false,
    isLoading: false,
    username: "yorenzavirdasfari@gmail",
    password: "111111",
    phone: null,
    rules: {
      email: v => (v || "").match(/@/) || "Please enter a valid email",
      length: len => v =>
        (v || "").length >= len || `Invalid character length, required ${len}`,
      password: v =>
        (v || "").match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
        "Password must contain an upper case letter, a numeric character, and a special character",
      required: v => !!v || "This field is required"
    },
    submitted: false,
    user: {
      email: "",
      password: ""
    },
    showRegistrasion: false
  }),
  validations: {
    user: {
      email: { required, email },
      password: { required, minLength: minLength(6) }
    }
  },
  components: {
    Registrasi
  },
  computed: {
    ...mapGetters(["userLogedIn", "userInfo"])
  },
  methods: {
    ...mapActions(["userLogin"]),
    login() {
      this.submitted = true;
      this.loading = true;
      this.userLogin({
        username: this.username,
        password: this.password
      })
        .then(result => {
          this.loading = false;
          this.$emit("logged-in");
        })
        .catch(err => {
          console.log(err);
          this.loading = false;
          this.alert = {
            type: "error",
            message: err.response.data.message[0].messages[0].message
          };
          console.log(err);
        });
    },
    showRegistrasionDialog() {
      this.showRegistrasion = true;
    }
  }
};
</script>

<style>
</style>