<template>
    <v-navigation-drawer
      :value="$store.state.mainNavigationDrawer"
      @input="(e) => {$emit('input', e)}"
      app
      >
      <v-list dense>
        <div
          v-for="(menu, i) in menus" :key="i"
          >
          <v-list-item
            @click="$router.push(menu.link)"
            link>
            <v-list-item-action>
              <v-icon>{{menu.icon}}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{menu.label}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>
        <v-list-item
          @click="$router.push('/signin')"
          v-if="!$store.getters.user"
          link>
          <v-list-item-action>
            <v-icon>mdi-fingerprint</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Sign-In</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          @click:stop="$store.dispatch('signout')"
          v-if="$store.getters.user"
          link>
          <v-list-item-action>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Sign-Out</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
  name: 'MainNavigationDrawer',
  props: ['drawer'],
  data () {
    return {
      menus: [
        {
          name: 'home',
          label: 'Home',
          link: '/',
          icon: 'mdi-home',
        },
        {
          name: 'orders',
          label: 'Orders',
          link: '/orders',
          icon: 'mdi-truck',
        },
        {
          name: 'branches',
          label: 'Cabang',
          link: '/branches',
          icon: 'mdi-location',
        },
        {
          name: 'setpos',
          label: 'Setting POS',
          link: '/setpos',
          icon: 'mdi-settings',
        },
      ]
    }
  }

}
</script>

<style>

</style>