<template>
  <v-card>
    <v-card-title>
      <span v-if="!item" class="headline">Buat Cabang</span>
      <span v-if="item" class="headline">Edit Cabang</span>
    </v-card-title>
    <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Kode"
                  v-model="uid"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Nama"
                  v-model="formData.name"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="No HP."
                  v-model="formData.phone"
                  required></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" >
                <v-autocomplete
                  label="Negara"
                  :items="countries"
                  v-model="formData.country"
                  auto-select-first

                ></v-autocomplete>
              </v-col>

              <v-col cols="12" sm="6" >
                <AddressSearch
                  v-model="addressSet"
                  country="id"
                  />
              </v-col>

              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Provinsi"
                  v-model="formData.province"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Kota/Kabupaten"
                  v-model="formData.city"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Kecamatan"
                  v-model="formData.regency"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Desa/Kelurahan"
                  v-model="formData.village"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Alamat 1"
                  v-model="formData.address1"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Alamat 2"
                  v-model="formData.address2"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Kode Pos"
                  v-model="formData.postCode"
                  required></v-text-field>
              </v-col>

            </v-row>
          </v-container>

    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      
      <v-btn large text @click="$emit('close')">Cancel</v-btn>
            
      <v-btn
        v-if="!item"
        large
        :loading="loading"
        color="primary" 
        @click="create"
        >Save</v-btn>
      
      <v-btn
        v-if="item"
        large
        :loading="loading"
        color="primary" 
        @click="update"
        >Update</v-btn>

    </v-card-actions>
  </v-card>
</template>

<script>
import { db } from '../db'
import countries from '../../data/countries'
import AddressSearch from '../components/AddressSearch'
export default {
  name: 'NewBranch',
  data () {
    return {
      searchQuery: null,
      addressSet: null,
      searchLoading: false,
      tab: '1',
      uid: null,
      formData: {
        country: {
          country: 'Indonesia',
          code: 'ID'
        },
      },
      loading: false,
    }
  },
  props: ['item'],
  firestore () {
    return {
      branches: db.collection('branches')
    }
  },
  components: {
    AddressSearch
  },
  computed: {
    countries () {
      return countries.map(country => {
        return {
          value: country,
          text: country.country
        }
      })
    },    
  },

  methods: {
    next () {
      this.tab = (parseInt(this.tab) + 1).toString()
    },
    prev () {
      this.tab = (parseInt(this.tab) - 1).toString()
    },
    create () {
      this.loading = true
      const formattedPayload = {
        ...this.formData,
        createdAt: new Date().valueOf(),
        updatedBy: this.$store.getters.user.uid,
        updateAt: new Date().valueOf(),
        createdBy: this.$store.getters.user.uid
      }
      db.collection('branches').doc(this.uid).set(formattedPayload)
        .then(() => {
          this.$emit('saved')
          this.loading = false
        })
        .catch(err => {
          console.log(err)
        })
    },
    update () {
      this.loading = true
        const formattedPayload = {
        ...this.formData,
        updateAt: new Date().valueOf(),
        updatedBy: this.$store.getters.user.uid,
      }
      db.collection('branches').doc(this.item.id)
        .set(formattedPayload)
        .then(() => {
          this.$emit('saved')
          this.loading = false
        })
        .catch(err => {
          console.log(err)
        })
    },
  },
  mounted () {
    if (this.item) {
      this.formData = this.item
    }
  },
  watch: {
    searchQuery (val) {
      this.getAddressSearch(val)
        .then(result => {
          this.destinationAddresses = result
        }) 
    },
  }
}
</script>

<style>

</style>