<template>
 
    <!-- <div>
      <div v-if="!userLogedIn">
        <form>
          <input type="text" v-model="username" placeholder="Username">
          <input type="password" v-model="password" placeholder="Password">
          <button @click="login()">Login</button>
        </form>
      </div>
      <span v-show="loading">Loading...</span>
    </div>-->
    <v-card class="mx-auto" style="max-width: 500px;">
      <v-system-bar color="deep-purple darken-4" dark>
        <v-spacer></v-spacer>
        <v-icon small>mdi-square</v-icon>
        <v-icon class="ml-1" small>mdi-circle</v-icon>
        <v-icon class="ml-1" small>mdi-triangle</v-icon>
      </v-system-bar>
      <v-toolbar color="deep-purple accent-4" cards dark flat>
        <v-btn icon>
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <v-card-title class="title font-weight-regular">Sign up</v-card-title>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </v-toolbar>
      <v-form ref="form" v-model="form" class="pa-4 pt-6">

         <!-- <div class="form-group">
                    <v-text-fields type="text" v-model="username" id="username" name="username" class="form-control"  />
                            <div v-if="submitted && !$v.user.username.required" class="invalid-feedback">Username is required</div>
              </div> -->

              <div class="form-group">
                    <v-text-field v-model="username" filled color="deep-purple" label="Username"/>
                          <!-- <div v-if="submitted && !$v.user.username.required" class="invalid-feedback">Username is required</div> -->
              </div>
       
        <v-text-field filled color="deep-purple" v-model="email" label="Email"></v-text-field>
        <!-- <div v-if="submitted && $v.user.email.$error" class="invalid-feedback"> -->
        <!-- <span v-if=" submitted && !$v.user.email.required">Email is required</span>
        <span v-if=" submitted && !$v.user.email.email">Email is invalid</span> -->
        <!-- </div> -->
        <v-text-field
          v-model="password"
          filled
          color="deep-purple"
          counter="6"
          label="Password"
          style="min-height: 96px"
          type="password"
        ></v-text-field>
        <!-- <div v-if="submitted && $v.user.password.$error" class="invalid-feedback"> -->
        <!-- <div>
          <v-alert type="error" v-if=" submitted && !$v.user.password.required">Password is required</v-alert>
        </div>

        <span v-if="!$v.user.password.minLength">Password must be at least 6 characters</span> -->
        <!-- </div> -->
      </v-form>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn text @click="$refs.form.reset()">Clear</v-btn>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="!form"
          :loading="isLoading"
          @click="addUser()"
          class="white--text"
          color="deep-purple accent-4"
          depressed
        >Submit</v-btn>
      </v-card-actions>
      <v-dialog v-model="dialog" absolute max-width="400" persistent>
        <template v-slot:label>
          I agree to the&nbsp;
          <a href="#" @click.stop.prevent="dialog = true">Terms of Service</a>
          &nbsp;and&nbsp;
          <a href="#" @click.stop.prevent="dialog = true">Privacy Policy</a>*
        </template>
      </v-dialog>
    </v-card>
</template>

<script>
import { mapActions } from "vuex";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
import axios from "axios";
export default {
  data: () => ({
    agreement: false,
    bio:
      "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts",
    dialog: false,
    email: undefined,
    form: false,
    username: undefined,
    isLoading: false,
    password: undefined,
    phone: undefined,
    submitted: false,
    rules: {
      email: v => (v || "").match(/@/) || "Please enter a valid email",
      length: len => v =>
        (v || "").length >= len || `Invalid character length, required ${len}`,
      password: v =>
        (v || "").match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
        "Password must contain an upper case letter, a numeric character, and a special character",
      required: v => !!v || "This field is required"
    },
    user: {
      username: "",
      email: "",
      password: ""
    }
  }),
  validations: {
    user: {
      username: { required },
      email: { required, email },
      password: { required, minLength: minLength(6) },
      confirmPassword: { required, sameAsPassword: sameAs("password") }
    }
  },
  computed: {
    // ...mapGetters(['userRegistration'])
  },
  methods: {
    ...mapActions(["userRegistration"]),
    registration() {
      // this.submitted = true;

    
      this.loading = true;
      
      this.userRegistration({
        username: this.username,
        email: this.email,
        password: this.password
      })
        .then(() => {
          this.loading = false;
          // this.$router.push("/");
        })
        .catch(err => {
          this.loading = false;
          console.log(err);
        });
    
      },
    addUser () {
      axios({
        method: 'post',
        baseURL: `http://localhost:1337`,
        url: `/auth/local/register`,
        // headers: {
        // Authorization: `bearer ${this.authorization}`
        // },
        data: {
          username : this.username,
          email : this.email,
          password : this.password,
        }
      })
      .then(response => {
        console.log('success')
        console.log(response)
         this.info = {
            type: "success",
            message: "Data berhasil ditambahkan"
          };
      })
      .catch(error => {
          console.log(error)
          this.info = {
            type: "error",
            message: "Data gagal ditambahkan"
          };

      })
    }
  
     
  }
};
</script>

<style>
</style>

