<template>
  <v-container class="grey lighten-5">
    <v-row>
     <!-- <input type="text" v-model="userInfo.name">
     <input type="text" v-model="userInfo.email"> -->

     <v-form
      ref="form"
      v-model="form"
      class="pa-4 pt-6"
    >
      <v-text-field
        v-model="userInfo.name"
        label="Name"
       
      ></v-text-field>
      <v-text-field
         v-model="userInfo.email"
         label="Email"
      ></v-text-field>


     </v-form>
    </v-row>
      <v-btn small color="primary" @click="updateProfiles">ubah</v-btn>
  </v-container>
</template>
<script>
import axios from "axios";
import { mapGetters } from "vuex";
export default {
    name: "updateProfile",
    data () {
        return {

          
        }

    },
    props: ["userInfo"],
    components: {
    },
    computed: {
         ...mapGetters(["authorization"]),
    },
    methods:{
        updateProfiles() {
      return axios({
        method: "put",
        baseURL: `${window.location.protocol}//${window.location.hostname}:1337`,
        url: "/users/"+this.userInfo.id,
        headers: {
          Authorization: `bearer ${this.authorization}`
        },
        data: {
            name: this.userInfo.name,
            email: this.userInfo.email
        }
      });
   
    }
    }

}
</script>

<style>

</style>