<template>
  <v-app id="inspire">
    <MainNavigationDrawer :drawer="drawer" @input="onDrawerInput"/>

    <MainApplicationBar @nav-icon-clicked="drawer = !drawer"/>
    <v-content>
      <v-container
        class="fill-height align-start"
        fluid
        >
        <!-- <v-row
          align="center"
          justify="center"
          class="fill-height"
          >
          <v-col class="text-center fill-height"> -->
            <router-view></router-view>
          <!-- </v-col>
        </v-row> -->
      </v-container>
    </v-content>
    <MainFooter/>
  </v-app>
</template>

<script>
  import { mapMutations } from 'vuex'
  import MainFooter from '@/components/MainFooter'
  import MainNavigationDrawer from '@/components/MainNavigationDrawer'
  import MainApplicationBar from '@/components/MainApplicationBar'
  export default {
    name: 'App',
    components: {
      MainFooter,
      MainNavigationDrawer,
      MainApplicationBar
    },
    props: {
      source: String,
    },
    methods: {
      ...mapMutations(['setUser']),
      onDrawerInput (payload) {
        this.drawer = payload
        console.log('onDrawerInput')
      }
    },
    data: () => ({
      drawer: false,
    }),
    mounted () {
      this.$store.dispatch('loadBranchKey');
    }
  }
</script>